/* css */

/* utility */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}

.d-flex{
  display: flex;
}

.container{
  max-width: 1200px;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
}

.btn{
  background-color: #0061ff;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.btn:hover{
  background-color: #68c9fa;
}

/* header */

header{
  padding: 20px;
  justify-content: space-between;
  min-width: 1030px;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
}

header .right-header ul,
header .left-header ul{
  list-style: none;
  align-items: center;
}

header .right-header ul li a,
header .left-header ul li a{
  padding: 20px;
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

header .right-header ul li a:hover, 
header .left-header ul li a:hover{
  border-bottom: 1px solid black;
  padding: 20px;
}

header .left-header ul li:last-child{
  background-color: #0061ff;
  padding: 3px;
}

header .left-header ul li:last-child a{
  color: white;
  font-weight: 400;
}

/* jumbotron */

.jumbotron{
  background-color: #b4d0e7;
  min-width: 1300px;
  margin-top: 65px;
}
.jumbotron .container .descr-jumbotron{
  position: relative;
  top: 70px;
}

.jumbotron .container h1{
  padding-top: 50px;
  font-size: 80px;
  font-weight: 900;
}

.jumbotron .container .descr-jumbotron img{
  height: 450px;
  position: relative;
  right: 25px;
  object-fit: cover;
}

.jumbotron .container .descr-jumbotron p{
  line-height: 25px;
  padding-bottom: 25px;
}

.jumbotron .container .descr-jumbotron .text #annulla{
  padding-top: 30px;
  padding-bottom: 45px;
  cursor: pointer;
}

.jumbotron .container .descr-jumbotron .text #annulla:hover{
  text-decoration: underline;
}

.jumbotron .container .descr-jumbotron .text i{
  font-size: 60px;
  padding-bottom: 80px;
  cursor: pointer;
}

/* main */

/* scelta del piano */

main h2{
  padding-top: 150px;
  padding-bottom: 60px;
  font-size: 50px;
}

main span{
  padding-right: 40px;
}

main .plan .box-plan .fa-ul.blue i, main .blue i{
  color: #0061ff;
}

main .plan-container{
  padding: 25px;
}

main .plan{
  justify-content: space-between;
}

main .box-plan{
  margin-top: 40px;
  width: 30%;
  border: 1px solid lightgrey;
}

main .plan .box-plan h5, main .team h5{
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-weight: 400;
}

main .plan .box-plan h3,
main .team h3, main .partner h3{
  font-size: 30px;
}

main .plan .box-plan .price :first-child{
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0;
}

main .plan .box-plan .price :last-child{
  font-size: 15px;
  color: grey;
  padding-bottom: 30px;
}

main .plan .box-plan .plan-container ul li{
  padding: 13px 0;
}

main .plan .box-plan .plan-container .btn{
  display: block;
  text-align: center;
  margin: 25px auto;
}

main .box-plan hr{
  width: 20%;
  background-color: lightgrey;
  height: 2px;
  margin: 45px 0;
}

main .plan .box-plan .plan-container #punti-salienti{
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
}

main .team{
  border: 1px solid lightgrey;
  margin-top: 50px;
  position: relative;
}

main .team h3{
  margin-top: 20px;
}

main .team h3, main .team p{
  text-align: left;
  padding: 20px;
}

main .team p:first-of-type{
  font-weight: bold;
  position: relative;
  bottom: 20px;
}

main .team .btn{
  position: absolute;
  top: 60px;
  right: 10px;
}

/* trova un partner */

main .partner{
  margin-top: 100px;
}

main .partner .img img{
  height: 500px;
  object-fit: cover;
}

main .partner .text{
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 30px;
}

main .partner .text p{
  font-size: 16px;
  line-height: 30px;
  padding: 30px 0;
}

main .partner .text .btn-partner{
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding: 10px 13px;

}

/* dropbox-business */

main .business{
  flex-wrap: wrap;
  justify-content: space-between;
}
 
main .business .info-box{
  width: calc(100% / 3);
  padding-right: 40px;
  padding-bottom: 40px;
}

main .business h2{
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 80px;
}

main .business .info-box img{
  height: 250px;
  object-fit: cover;
}

main .business .info-box h3{
  font-size: 25px;
  padding: 20px 0;
}

main .business .info-box p{
  line-height: 25px;
}

main .spot-sponsor h2{
  width: 70%;
  font-size: 45px;
}

main .spot-sponsor{
  padding-bottom: 100px;
}

main .box-sponsor .sponsor-left,
main .box-sponsor .sponsor-right,
main .box-sponsor .sponsor-middle{
  width: 33%;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 600px;
}


main .box-sponsor .sponsor-left .sponsor1,
main .box-sponsor .sponsor-left .sponsor2,
main .box-sponsor .sponsor-left .sponsor3,
main .box-sponsor .sponsor-left .sponsor4,
main .box-sponsor .sponsor-right .sponsor1,
main .box-sponsor .sponsor-right .sponsor2,
main .box-sponsor .sponsor-right .sponsor3,
main .box-sponsor .sponsor-right .sponsor4 {
  position: relative;
  padding: 150px;
}

main .box-sponsor .sponsor-left .sponsor1:active,
main .box-sponsor .sponsor-left .sponsor2:active,
main .box-sponsor .sponsor-left .sponsor3:active,
main .box-sponsor .sponsor-left .sponsor4:active,
main .box-sponsor .sponsor-right .sponsor1:active,
main .box-sponsor .sponsor-right .sponsor2:active,
main .box-sponsor .sponsor-right .sponsor3:active,
main .box-sponsor .sponsor-right .sponsor4:active{
  box-shadow:0px 0px 0px 10px rgba(255, 255, 255, .55) inset;
}

main .box-sponsor .sponsor-left img,
main .box-sponsor .sponsor-right img{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: invert(1);
}

main .box-sponsor .sponsor-left .sponsor1{
  background-color: #a2d39b;
}

main .box-sponsor .sponsor-left .sponsor2{
  background-color: #61082b;
}

main .box-sponsor .sponsor-left .sponsor3{
  background-color: #0093ce;
}

main .box-sponsor .sponsor-left .sponsor4{
  background-color: #ff1c1c;
}

main .box-sponsor .sponsor-right .sponsor1{
  background-color: #d5001f;
}

main .box-sponsor .sponsor-right .sponsor2{
  background-color: #b4d0e7;
}

main .box-sponsor .sponsor-right .sponsor3{
  background-color: #0d2481;
}

main .box-sponsor .sponsor-right .sponsor4{
  background-color: #ffd830;
}

main .box-sponsor .sponsor-middle{
  padding: 30px;
  background-color: #f5f5f5;
}

main .box-sponsor .sponsor-middle hr{
  width: 20%;
  margin: 40px 0;
}

main .box-sponsor .sponsor-middle p{
  line-height: 25px;
  padding-bottom: 35px;
}

main .banner{
  background-color: #b4d0e7;
  color: #610834;
  position: relative;
}

main .banner h2{
  width: 30%;
  font-size: 50px;
  margin: 40px auto;
}

main .banner a{
  position: absolute;
  top: 50%;
  left: 70%;
  text-decoration: none;
  padding: 10px 35px;
  background-color: white;
  color: black;
}

/* sponsor height */

#arizona{
  height: 100px;
}

#designit{
  height: 50px;
}

#florida{
  height: 40px;
}

#topps{
  height: 70px;
}

#wbr{
  height: 60px;
}

#hearts{
  height: 20px;
}

#lovelyp{
  height: 70px;
}

#clearc{
  height: 90px;
}

/* FAQ */

main .faq h3{
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 40px;
}
main .boxqa{
  position: relative;
  padding: 30px 0;
}

main .boxqa:nth-child(2n){
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

main .boxqa .question{
  font-weight: bold;
  padding: 30px 0;
  width: 100%;
}

main .boxqa i{
  position: absolute;
  left: 90%;
}

main .boxqa .answer{
  display: none;
}
main .boxqa p:hover i{
  transform: scale(-1);
}

main .boxqa p:hover ~ .answer{
  display: block;
}

/* footer */


footer{
  margin-top: 100px;
  background-color: black;
  padding: 50px 0;
}

footer .container{
  justify-content: space-between;
}

footer .column ul{
 list-style: none;
}

footer .column ul li a{
  color: white;
  text-decoration: none;
  line-height: 40px;
}

footer .column ul li:first-child > a{
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}

footer .lang hr{
  margin: 40px 0;
  width: 10%;
  color: lightgrey;
}

footer .lang p{
  color: lightgrey;
  font-size: 14px;
  cursor: pointer;
}